
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main{
   
    padding-top: 150px;
    display: flex;
    justify-content: center;
    min-height:1200px;
    width: 100%;
}


.container{
    display: flex;

    justify-content: center;

}




.card{
    margin: 20px 10px ; 
    position: relative;

}
.card-img{
    
    width: 400px;
    
}
img {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    }
      
    



.container a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}




.container li{
    list-style-type: none;
}


header{
    position: fixed;
    width: 100%;
    background-color: #ff6900;
    z-index: 999;
   
}
header .container ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    
    
  
}

.container nav{
    width: 100%;

}


.logo{
    display: flex;
    justify-content: center;
   
}

header .logo img{
    width: 100px;

}

header .container>*{
    padding: 20px 0px;
}




.box{
    display: flex;
    position: relative;
    top: 500px;
    
    color: white;    
    
    font-weight: bold;
    
    gap: 10px;
   

}




.sale{
    
background-color: red;
}
.eco{
    background-color: green;
}



.first{
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    
  } 
  
  

.second{
    width: 100%;
    display: block;
  
}







.info {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    gap: 0;
    display: flex;
    position: absolute;
    top: 580px;
    font-weight: bold;
    font-size: 12px;
    gap: 10px;
  
}

.old-price{
    position: relative;
    left: 40px;
    bottom:24px ;
    text-decoration: line-through;
}






